@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: cornsilk;
  font-family: "Varela Round", sans-serif;
}

li {
  list-style-type: none;
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a p {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 10px;
}

/** Header */

.header {
  background-color: gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.titleBar {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-items: center;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  .titleBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.titleMenu {
  display: flex;
  margin: 0 10px;
  padding: 0;
}
.titleMenuItem {
  width: 30px;
  background-color: beige;
  color: rgb(65, 65, 65);
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  gap: 5px;
}

.titleMenuItem:hover {
  background-color: bisque;
  scale: 1.1;
}

.titleMenuItemImg {
  width: 30px;
}

.inputSearch {
  height: 30px;
  width: 200px;
  border-radius: 15px;
  border: none;
  background-color: cornsilk;
  margin: 10px;
}

.inputSearch:focus {
  border: solid 3px rgb(160, 160, 160);
  background-color: bisque;
  outline: none;
  font-family: "Courier New", Courier, monospace;
}

.mainMenu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menuItem {
  width: 50px;
  height: 50px;
  animation: logo-spin 2s;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menuItem:hover {
  color: white;
  scale: 1.1;
  animation: logo-hover 2s;
}

@keyframes logo-hover {
  from {
    scale: 1.1;
  }
  to {
    scale: 0.5;
  }
}

/** Main */

.Main {
  background-color: antiquewhite;
  margin: 0;
  padding: 30px;
}

/** Footer  */

.footerClass {
  display: flex;
  justify-content: center;
  background-color: bisque;
  border-radius: 0 0px 10px 10px;
}

.footerItem {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  align-items: center;
  width: 60px;
}

.footerItem:hover {
  scale: 0.8;
  color: gray;
  font-weight: 800;
  animation: footerItem 3s;
}

.footerTxtItem:hover {
}

@keyframes footerItem {
  from {
    letter-spacing: normal;
    scale: 1;
  }
  to {
    letter-spacing: 5px;
    color: bisque;
    scale: 1.5;
  }
}

.footerIcons {
  width: 30px;
  margin: 10px 0;
  height: 20px;
}

/** UnderFooter */

.underFooter {
  color: rgb(177, 160, 136);
  font-weight: 600;
}

.underFootIcon {
  width: 30px;
  height: 30px;
}

.underFooter p {
  padding-top: 0px;
  font-size: 8px;
  color: rgb(173, 173, 173);
}

.underFooter h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  font-size: 15px;
}

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */
