@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Varela+Round&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: cornsilk;
  font-family: "Varela Round", sans-serif;
}

li {
  list-style-type: none;
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

a p {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 10px;
}

/** Header */

.header {
  background-color: gray;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.titleBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.titleMenu {
  display: flex;
  margin: 0;
  padding: 0;
}
.titleMenuItem {
  width: 30px;
  background-color: beige;
  color: rgb(65, 65, 65);
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  gap: 5px;
}

.titleMenuItem:hover {
  background-color: bisque;
  scale: 1.1;
}

.titleMenuItemImg {
  width: 30px;
}

.inputSearch {
  height: 30px;
  width: 200px;
  border-radius: 15px;
  border: none;
  background-color: bisque;
}

.mainMenu {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.menuItem {
  width: 50px;
  animation: logo-spin 2s;
}

/** Main */

.Main {
  background-color: antiquewhite;
  margin: 0;
  padding: 30px;
}

/** Footer  */

.footerClass {
  display: flex;
  justify-content: center;
  background-color: bisque;
  border-radius: 0 0px 10px 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
